@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.4); /* slate-400 */
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(148, 163, 184, 0.7);
}